Repository titxue/k8s.sh: changes, and which GitLab CI jobs are due for each by the changed paths.
All: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env:etcd, anolis-7.9:install:etcd, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, pages, docker:build, docker:deploy, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

almalinux-9.5:env:
  stage: env
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/debian:curl-jq
  variables:
    QEMU_ID: $ALMALINUX_9_5_QEMU_ID
    SNAPSHOT: $ALMALINUX_9_5_SNAPSHOT
  before_script:
  - echo $PVE_ADDRESS
  - echo $ALMALINUX_9_5_QEMU_ID
  - echo $QEMU_ID
  - echo $ALMALINUX_9_5_SNAPSHOT
  - echo $SNAPSHOT
  script:
  ...

almalinux-9.5:install:
  stage: install
  needs:
  - almalinux-9.5:env
  hooks:
    pre_get_sources_script:
    - ls -lh /etc/yum.repos.d
    - cat /etc/yum.repos.d/almalinux-appstream.repo
    - cat /etc/yum.repos.d/almalinux-baseos.repo
    - cat /etc/yum.repos.d/almalinux-extras.repo
  ...

anolis-23.1:env:
  stage: env
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/debian:curl-jq
  variables:
    QEMU_ID: $ANOLISOS_23_1_QEMU_ID
    SNAPSHOT: $ANOLISOS_23_1_SNAPSHOT
  before_script:
  - echo $PVE_ADDRESS
  - echo $ANOLISOS_23_1_QEMU_ID
  - echo $QEMU_ID
  - echo $ANOLISOS_23_1_SNAPSHOT
  - echo $SNAPSHOT
  script:
  ...

anolis-23.1:install:
  stage: install
  needs:
  - anolis-23.1:env
  hooks:
    pre_get_sources_script:
    - echo $ANOLIS_URL
    - cat /etc/yum.repos.d/AnolisOS.repo
    - sed -i "s#http://mirrors.openanolis.cn/anolis#$ANOLIS_URL#" /etc/yum.repos.d/AnolisOS.repo
    - cat /etc/yum.repos.d/AnolisOS.repo
    - yum clean all
  ...

anolis-7.7:env:kubernetes:1.26:
  stage: env
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/debian:curl-jq
  variables:
    QEMU_ID: $ANOLISOS_7_7_QEMU_ID
    SNAPSHOT: $ANOLISOS_7_7_SNAPSHOT
  before_script:
  - echo $PVE_ADDRESS
  - echo $ANOLISOS_7_7_QEMU_ID
  - echo $QEMU_ID
  - echo $ANOLISOS_7_7_SNAPSHOT
  - echo $SNAPSHOT
  script:
  ...

anolis-7.7:install:kubernetes:1.26:
  stage: install
  needs:
  - anolis-7.7:env:kubernetes:1.26
  variables:
    KUBERNETES_VERSION: v1.26.15
    KUBERNETES_REPO_TYPE: http://172.25.25.14:48081/repository/kubernetes-new-yum
    DOCKER_REPO_TYPE: http://172.25.25.14:48081/repository/docker-yum
  hooks:
    pre_get_sources_script:
    - echo $ANOLIS_URL
  ...

anolis-7.9:env:custom-k8s-repo-type-private:
  stage: env
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/debian:curl-jq
  variables:
    QEMU_ID: $ANOLISOS_7_9_QEMU_ID
    SNAPSHOT: $ANOLISOS_7_9_SNAPSHOT
  before_script:
  - echo $PVE_ADDRESS
  - echo $ANOLISOS_7_9_QEMU_ID
  - echo $QEMU_ID
  - echo $ANOLISOS_7_9_SNAPSHOT
  - echo $SNAPSHOT
  script:
  ...

anolis-7.9:install:custom-k8s-repo-type-private:
  stage: install
  needs:
  - anolis-7.9:env:custom-k8s-repo-type-private
  variables:
    KUBERNETES_VERSION: v1.26.12
    KUBERNETES_REPO_TYPE: http://172.25.25.14:48081/repository/kubernetes-new-yum
  hooks:
    pre_get_sources_script:
    - echo $ANOLIS_URL
    - cat /etc/yum.repos.d/AnolisOS-os.repo
  ...

docker:build:
  stage: docker:build
  image:
    name: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/kaniko-project-executor:v1.23.1-debug
    entrypoint:
    - ''
  needs:
  - job: pages
    artifacts: true
  before_script:
  ...

:bug: etcd 集群二进制安装：第一台机器安装：修正 ETCD_NAME
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env:etcd, anolis-7.9:install:etcd, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: etcd 集群二进制安装：第一台机器安装：test unset
  .gitlab/ci/anolis-7.9-etcd.yml
Due: anolis-7.9:env:etcd, anolis-7.9:install:etcd, anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:bug: etcd 集群二进制安装：第一台机器安装：关闭防火墙
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env:etcd, anolis-7.9:install:etcd, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:sparkles: etcd 集群二进制安装：后续机器加入集群
  .gitlab-ci.yml
  .gitlab/ci/anolis-8.2-etcd-init.yml
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env:etcd, anolis-7.9:install:etcd, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:sparkles: etcd 集群二进制安装：后续机器加入集群：修正授权/安装命令
  .gitlab/ci/anolis-8.2-etcd-init.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:sparkles: etcd 集群二进制安装：后续机器加入集群：增加机器
  .gitlab-ci.yml
  .gitlab/ci/anolis-8.4-etcd-join.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:sparkles: etcd 集群二进制安装：后续机器加入集群：增加机器密码
  .gitlab/ci/anolis-8.4-etcd-join.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:sparkles: etcd 集群二进制安装：后续机器加入集群：rules changes paths
  .gitlab/ci/anolis-8.2-etcd-init.yml
  .gitlab/ci/anolis-8.4-etcd-join.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:sparkles: etcd 集群二进制安装：后续机器加入集群：修正加入机器的命令
  .gitlab/ci/anolis-8.4-etcd-join.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:bug: etcd 集群二进制安装：后续机器加入集群：保存 SSH key
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env:etcd, anolis-7.9:install:etcd, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:sparkles: etcd 集群二进制安装：后续机器加入集群：增加机器
  .gitlab-ci.yml
  .gitlab/ci/anolis-8.4-etcd-join.yml
  .gitlab/ci/anolis-8.6-etcd-join.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:sparkles: etcd 集群二进制安装：后续机器加入集群：测试集群
  .gitlab/ci/anolis-8.6-etcd-join.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:memo: 新增 kubernetes 1.31.x 国内中文文档地址
  CHANGELOG.md
  README.md
Due: pages, docker:build, docker:deploy

:memo: 修正文档：新功能
  CHANGELOG.md
Due: pages, docker:build, docker:deploy

:memo: 更新流水线/作业数量
  index.md
  question/why-skip-pipelines.md
Due: pages, docker:build, docker:deploy

:memo: etcd 集群二进制安装：新增文档，统一格式，优化变量
  CHANGELOG.md
  config.md
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env:etcd, anolis-7.9:install:etcd, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, pages, docker:build, docker:deploy, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:memo: etcd 集群二进制安装：新增节点测试
  config.md
Due: pages, docker:build, docker:deploy

:memo: etcd 集群二进制安装：etcd 的证书放在自己的文件夹中
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env:etcd, anolis-7.9:install:etcd, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: :bug: etcd 集群二进制安装：etcd 的证书放在自己的文件夹中：修正测试
  .gitlab/ci/anolis-7.9-etcd.yml
  .gitlab/ci/anolis-8.6-etcd-join.yml
Due: anolis-7.9:env:etcd, anolis-7.9:install:etcd, anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:memo: etcd 集群二进制安装：etcd 的证书放在自己的文件夹中：修正文档
  config.md
Due: pages, docker:build, docker:deploy

:memo: 视频
  .vitepress/config.mjs
  CHANGELOG.md
  feature/videos.md
  index.md
  videos.md
Due: pages, docker:build, docker:deploy

:memo: 密钥时长
  question/how-to-join-a-cluster-using-the-control-plane-role.md
Due: none

:sparkles: 使用 cp 复制 helm，保留解压后的文件（夹）
  CHANGELOG.md
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env:etcd, anolis-7.9:install:etcd, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, pages, docker:build, docker:deploy, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:sparkles: 使用配置文件替换参数，kubernetes 1.31.0+ 默认证书有效期 100年
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env:etcd, anolis-7.9:install:etcd, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:sparkles: 使用配置文件替换参数，kubernetes 1.31.0+ 默认证书有效期 100年
  CHANGELOG.md
Due: pages, docker:build, docker:deploy

:sparkles: 支持自定义 etcd 端口
  config.md
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env:etcd, anolis-7.9:install:etcd, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, pages, docker:build, docker:deploy, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

Path conditions:
  almalinux-9.5:env: any of: .gitlab/ci/almalinux-9.5.yml, k8s.sh
  almalinux-9.5:install: any of: .gitlab/ci/almalinux-9.5.yml, k8s.sh
  anolis-23.1:env: any of: .gitlab/ci/anolis-23.1.yml, k8s.sh
  anolis-23.1:install: any of: .gitlab/ci/anolis-23.1.yml, k8s.sh
  anolis-7.7:env:kubernetes:1.26: any of: .gitlab/ci/anolis-7.7-kubernetes-v1.26.yml, k8s.sh
  anolis-7.7:install:kubernetes:1.26: any of: .gitlab/ci/anolis-7.7-kubernetes-v1.26.yml, k8s.sh
  anolis-7.9:env:custom-k8s-repo-type-private: any of: .gitlab/ci/anolis-7.9-custom-k8s-repo-type-private.yml, k8s.sh
  anolis-7.9:install:custom-k8s-repo-type-private: any of: .gitlab/ci/anolis-7.9-custom-k8s-repo-type-private.yml, k8s.sh
  anolis-7.9:env:custom-pause-image: any of: .gitlab/ci/anolis-7.9-custom-pause-image.yml, k8s.sh
  anolis-7.9:install:custom-pause-image: any of: .gitlab/ci/anolis-7.9-custom-pause-image.yml, k8s.sh
  anolis-7.9:env:etcd: any of: .gitlab/ci/anolis-7.9-etcd.yml, k8s.sh
  anolis-7.9:install:etcd: any of: .gitlab/ci/anolis-7.9-etcd.yml, k8s.sh
  anolis-7.9:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolis-7.9:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolis-8.9:env: any of: .gitlab/ci/anolis-8.9.yml, k8s.sh
  anolis-8.9:install: any of: .gitlab/ci/anolis-8.9.yml, k8s.sh
  anolis-8.9:shutdown: any of: .gitlab/ci/anolis-8.9.yml, k8s.sh
  anolisos-7.9:env:custom-kubernetes-images: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:install:custom-kubernetes-images: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  centos-8.1:env: any of: .gitlab/ci/centos-8.1.yml, k8s.sh
  centos-8.1:install: any of: .gitlab/ci/centos-8.1.yml, k8s.sh
  centos-8.1:shutdown: any of: .gitlab/ci/centos-8.1.yml, k8s.sh
  centos-8.5:env: any of: .gitlab/ci/centos-8.5.yml, k8s.sh
  centos-8.5:install: any of: .gitlab/ci/centos-8.5.yml, k8s.sh
  debian-10.10.0:env:kubernetes:1.24: any of: .gitlab/ci/debian-10.10.0-kubernetes-v1.24.yml, k8s.sh
  debian-10.10.0:install:kubernetes:1.24: any of: .gitlab/ci/debian-10.10.0-kubernetes-v1.24.yml, k8s.sh
  debian-10.10.0:shutdown:kubernetes:1.24: any of: .gitlab/ci/debian-10.10.0-kubernetes-v1.24.yml, k8s.sh
  debian-11.7.0:env: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  debian-11.7.0:install: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  kylin-v10-sp1-hwe-2303:env: any of: .gitlab/ci/kylin-v10-sp1-hwe-2303.yml, k8s.sh
  kylin-v10-sp1-hwe-2303:install: any of: .gitlab/ci/kylin-v10-sp1-hwe-2303.yml, k8s.sh
  kylin-v10-sp1-hwe-2303:shutdown: any of: .gitlab/ci/kylin-v10-sp1-hwe-2303.yml, k8s.sh
  pages: any of: .gitlab/ci/pages.yml, .vitepress/**/*, **.md, public, static, .npmrc, docker-compose.yml, Dockerfile, package.json
  docker:build: any of: .gitlab/ci/pages.yml, .vitepress/**/*, **.md, public, static, .npmrc, docker-compose.yml, Dockerfile, package.json
  docker:deploy: any of: .gitlab/ci/pages.yml, .vitepress/**/*, **.md, public, static, .npmrc, docker-compose.yml, Dockerfile, package.json
  ubuntu-20.04:env: any of: .gitlab/ci/ubuntu-20.04.yml, k8s.sh
  ubuntu-20.04:install: any of: .gitlab/ci/ubuntu-20.04.yml, k8s.sh
  ubuntu-22.04:env:custom-kubernetes-type-private: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.04:install:custom-kubernetes-type-private: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.04:env:custom-pause-image: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  ubuntu-22.04:install:custom-pause-image: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  ubuntu-22.04:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.04:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.10:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.10:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-24.04:env:custom-cidr: any of: .gitlab/ci/ubuntu-24.04-custom-cidr.yml, k8s.sh
  ubuntu-24.04:install:custom-cidr: any of: .gitlab/ci/ubuntu-24.04-custom-cidr.yml, k8s.sh
  ubuntu-24.04:shutdown:custom-cidr: any of: .gitlab/ci/ubuntu-24.04-custom-cidr.yml, k8s.sh
  ubuntu-24.04:env:custom-local-yaml: any of: .gitlab/ci/ubuntu-24.04-custom-local-yaml.yml, k8s.sh
  ubuntu-24.04:install:custom-local-yaml: any of: .gitlab/ci/ubuntu-24.04-custom-local-yaml.yml, k8s.sh
  ubuntu-24.04:shutdown:custom-local-yaml: any of: .gitlab/ci/ubuntu-24.04-custom-local-yaml.yml, k8s.sh
  ubuntu-24.04:env:kubernetes:1.24: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  ubuntu-24.04:install:kubernetes:1.24: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
