Repository titxue/k8s.sh: changes, and which GitLab CI jobs are due for each by the changed paths.
All: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, pages, docker:build, docker:deploy, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

almalinux-9.5:env:
  stage: env
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/debian:curl-jq
  variables:
    QEMU_ID: $ALMALINUX_9_5_QEMU_ID
    SNAPSHOT: $ALMALINUX_9_5_SNAPSHOT
  before_script:
  - echo $PVE_ADDRESS
  - echo $ALMALINUX_9_5_QEMU_ID
  - echo $QEMU_ID
  - echo $ALMALINUX_9_5_SNAPSHOT
  - echo $SNAPSHOT
  script:
  ...

almalinux-9.5:install:
  stage: install
  needs:
  - almalinux-9.5:env
  hooks:
    pre_get_sources_script:
    - ls -lh /etc/yum.repos.d
    - cat /etc/yum.repos.d/almalinux-appstream.repo
    - cat /etc/yum.repos.d/almalinux-baseos.repo
    - cat /etc/yum.repos.d/almalinux-extras.repo
  ...

anolis-23.1:env:
  stage: env
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/debian:curl-jq
  variables:
    QEMU_ID: $ANOLISOS_23_1_QEMU_ID
    SNAPSHOT: $ANOLISOS_23_1_SNAPSHOT
  before_script:
  - echo $PVE_ADDRESS
  - echo $ANOLISOS_23_1_QEMU_ID
  - echo $QEMU_ID
  - echo $ANOLISOS_23_1_SNAPSHOT
  - echo $SNAPSHOT
  script:
  ...

anolis-23.1:install:
  stage: install
  needs:
  - anolis-23.1:env
  hooks:
    pre_get_sources_script:
    - echo $ANOLIS_URL
    - cat /etc/yum.repos.d/AnolisOS.repo
    - sed -i "s#http://mirrors.openanolis.cn/anolis#$ANOLIS_URL#" /etc/yum.repos.d/AnolisOS.repo
    - cat /etc/yum.repos.d/AnolisOS.repo
    - yum clean all
  ...

anolis-7.7:env:kubernetes:1.26:
  stage: env
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/debian:curl-jq
  variables:
    QEMU_ID: $ANOLISOS_7_7_QEMU_ID
    SNAPSHOT: $ANOLISOS_7_7_SNAPSHOT
  before_script:
  - echo $PVE_ADDRESS
  - echo $ANOLISOS_7_7_QEMU_ID
  - echo $QEMU_ID
  - echo $ANOLISOS_7_7_SNAPSHOT
  - echo $SNAPSHOT
  script:
  ...

anolis-7.7:install:kubernetes:1.26:
  stage: install
  needs:
  - anolis-7.7:env:kubernetes:1.26
  variables:
    KUBERNETES_VERSION: v1.26.15
    KUBERNETES_REPO_TYPE: http://172.25.25.14:48081/repository/kubernetes-new-yum
    DOCKER_REPO_TYPE: http://172.25.25.14:48081/repository/docker-yum
  hooks:
    pre_get_sources_script:
    - echo $ANOLIS_URL
  ...

anolis-7.9:env:custom-k8s-repo-type-private:
  stage: env
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/debian:curl-jq
  variables:
    QEMU_ID: $ANOLISOS_7_9_QEMU_ID
    SNAPSHOT: $ANOLISOS_7_9_SNAPSHOT
  before_script:
  - echo $PVE_ADDRESS
  - echo $ANOLISOS_7_9_QEMU_ID
  - echo $QEMU_ID
  - echo $ANOLISOS_7_9_SNAPSHOT
  - echo $SNAPSHOT
  script:
  ...

anolis-7.9:install:custom-k8s-repo-type-private:
  stage: install
  needs:
  - anolis-7.9:env:custom-k8s-repo-type-private
  variables:
    KUBERNETES_VERSION: v1.26.12
    KUBERNETES_REPO_TYPE: http://172.25.25.14:48081/repository/kubernetes-new-yum
  hooks:
    pre_get_sources_script:
    - echo $ANOLIS_URL
    - cat /etc/yum.repos.d/AnolisOS-os.repo
  ...

docker:build:
  stage: docker:build
  image:
    name: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/kaniko-project-executor:v1.23.1-debug
    entrypoint:
    - ''
  needs:
  - job: pages
    artifacts: true
  before_script:
  ...

:sparkles: helm install kubernetes dashboard parameter
  config.md
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, pages, docker:build, docker:deploy, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:sparkles: helm kubernetes dashboard image
  package.json
  scripts/charts/dashboard.mjs
  scripts/image/kong.mjs
Due: pages, docker:build, docker:deploy

:bug: fix eslint
  package.json
Due: pages, docker:build, docker:deploy

:memo: 如何清理 安装与配置？
  .vitepress/config.mjs
  question/how-to-clean-install-and-config.md
Due: pages, docker:build, docker:deploy

:memo: 补充警告
  question/how-to-join-a-cluster-using-the-control-plane-role.md
Due: none

:memo: 补充高可用模式
  getting-started.md
Due: pages, docker:build, docker:deploy

:bulb: 参数不合法，提示文档地址
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:sparkles: calico v3.27.5
  mirrors/projectcalico/calico/v3.27.5/manifests/calico.yaml
Due: none

:construction_worker: mirrors/**/* 触发 pages
  .gitlab/ci/pages.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, pages, docker:build, docker:deploy, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:wrench: calico v3.27.5
  .vitepress/components/json/calico-version.json
Due: pages, docker:build, docker:deploy

:sparkles: kubeadm 100 year
  package.json
  scripts/binary/kubeadm-100-year.mjs
Due: pages, docker:build, docker:deploy

:sparkles: kubeadm 100 year: 同步下载文件
  scripts/binary/kubeadm-100-year.mjs
Due: none

外部etcd
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:memo: 补充更新日志
  CHANGELOG.md
Due: pages, docker:build, docker:deploy

:wrench: 补充版本
  .vitepress/components/json/kubernetes-version.json
Due: pages, docker:build, docker:deploy

:bookmark: 2.0.0
  .github/workflows/docs-deploy.yml
  .gitlab/ci/pages.yml
  .vitepress/components/json/branch.json
  .vitepress/components/json/default.json
  .vitepress/config.mjs
  CHANGELOG.md
  README.md
  getting-started.md
  history.md
  index.md
  mirrors.md
  question/why-skip-pipelines.md
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, pages, docker:build, docker:deploy, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:camera_flash: SNAPSHOT/2.0.1
  .github/workflows/docs-deploy.yml
  .gitlab/ci/pages.yml
  .vitepress/components/json/branch.json
  .vitepress/components/json/default.json
  .vitepress/config.mjs
  CHANGELOG.md
  README.md
  getting-started.md
  history.md
  mirrors.md
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, pages, docker:build, docker:deploy, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:memo: 历史版本: 补充流水线
  history.md
Due: pages, docker:build, docker:deploy

:memo: Kubernetes 发布日历
  .vitepress/config.mjs
  CHANGELOG.md
  question/k8s-release-cal.md
Due: pages, docker:build, docker:deploy

:memo: 新增 视频 链接
  .vitepress/config.mjs
  CHANGELOG.md
  feature/videos.md
  index.md
Due: pages, docker:build, docker:deploy

:memo: 更新日志 链接
  CHANGELOG.md
Due: pages, docker:build, docker:deploy

:memo: 增加 1.32 测试，升级 1.29/1.30/1.31 版本号
  .gitlab-ci.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.24.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.25.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.26.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.27.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.28.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.29.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.30.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.32.yml
  .vitepress/components/json/default.json
  .vitepress/components/json/kubernetes-version.json
  CHANGELOG.md
  README.md
  config.md
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, pages, docker:build, docker:deploy, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: clean when
  .gitlab/ci/anolis-7.7-kubernetes-v1.24.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.25.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.26.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.27.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.28.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.29.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.30.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.31.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.32.yml
Due: anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:memo: 新增 kubernetes 1.32.x 支持范围
  CHANGELOG.md
  README.md
  index.md
  question/why-not-use-docker.md
Due: pages, docker:build, docker:deploy

:memo: 补充 kubernetes 1.32.x 支持范围
  README.md
Due: pages, docker:build, docker:deploy

:construction_worker: AnolisOS-8.2 test kubernetes 1.32
  .gitlab-ci.yml
  .gitlab/ci/anolis-8.2-kubernetes-v1.32.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: AnolisOS-8.6 test kubernetes 1.32
  .gitlab-ci.yml
  .gitlab/ci/anolis-8.6-kubernetes-v1.32.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:bug: 修正 apt 安装 tar 命令
  CHANGELOG.md
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, pages, docker:build, docker:deploy, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:sparkles: etcd 集群二进制安装：第一台机器安装
  CHANGELOG.md
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, pages, docker:build, docker:deploy, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:bug: 解决部分系统无 /etc/apt/sources.list.d 目录异常
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:sparkles: etcd 集群二进制安装：第一台机器安装：自定义节点名称、流水线测试
  .gitlab-ci.yml
  .gitlab/ci/anolis-7.9-etcd.yml
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:bug: etcd 集群二进制安装：第一台机器安装：兼容有无 etcd-ips 参数的判断
  .gitlab/ci/anolis-7.9-etcd.yml
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

Revert ":bug: etcd 集群二进制安装：第一台机器安装：兼容有无 etcd-ips 参数的判断"
  .gitlab/ci/anolis-7.9-etcd.yml
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:bug: etcd 集群二进制安装：第一台机器安装：修正 ETCD_NAME 判断
  .gitlab/ci/anolis-7.9-etcd.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

Path conditions:
  almalinux-9.5:env: any of: .gitlab/ci/almalinux-9.5.yml, k8s.sh
  almalinux-9.5:install: any of: .gitlab/ci/almalinux-9.5.yml, k8s.sh
  anolis-23.1:env: any of: .gitlab/ci/anolis-23.1.yml, k8s.sh
  anolis-23.1:install: any of: .gitlab/ci/anolis-23.1.yml, k8s.sh
  anolis-7.7:env:kubernetes:1.26: any of: .gitlab/ci/anolis-7.7-kubernetes-v1.26.yml, k8s.sh
  anolis-7.7:install:kubernetes:1.26: any of: .gitlab/ci/anolis-7.7-kubernetes-v1.26.yml, k8s.sh
  anolis-7.9:env:custom-k8s-repo-type-private: any of: .gitlab/ci/anolis-7.9-custom-k8s-repo-type-private.yml, k8s.sh
  anolis-7.9:install:custom-k8s-repo-type-private: any of: .gitlab/ci/anolis-7.9-custom-k8s-repo-type-private.yml, k8s.sh
  anolis-7.9:env:custom-pause-image: any of: .gitlab/ci/anolis-7.9-custom-pause-image.yml, k8s.sh
  anolis-7.9:install:custom-pause-image: any of: .gitlab/ci/anolis-7.9-custom-pause-image.yml, k8s.sh
  anolis-7.9:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolis-7.9:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolis-8.9:env: any of: .gitlab/ci/anolis-8.9.yml, k8s.sh
  anolis-8.9:install: any of: .gitlab/ci/anolis-8.9.yml, k8s.sh
  anolis-8.9:shutdown: any of: .gitlab/ci/anolis-8.9.yml, k8s.sh
  anolisos-7.9:env:custom-kubernetes-images: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:install:custom-kubernetes-images: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  centos-8.1:env: any of: .gitlab/ci/centos-8.1.yml, k8s.sh
  centos-8.1:install: any of: .gitlab/ci/centos-8.1.yml, k8s.sh
  centos-8.1:shutdown: any of: .gitlab/ci/centos-8.1.yml, k8s.sh
  centos-8.5:env: any of: .gitlab/ci/centos-8.5.yml, k8s.sh
  centos-8.5:install: any of: .gitlab/ci/centos-8.5.yml, k8s.sh
  debian-10.10.0:env:kubernetes:1.24: any of: .gitlab/ci/debian-10.10.0-kubernetes-v1.24.yml, k8s.sh
  debian-10.10.0:install:kubernetes:1.24: any of: .gitlab/ci/debian-10.10.0-kubernetes-v1.24.yml, k8s.sh
  debian-10.10.0:shutdown:kubernetes:1.24: any of: .gitlab/ci/debian-10.10.0-kubernetes-v1.24.yml, k8s.sh
  debian-11.7.0:env: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  debian-11.7.0:install: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  kylin-v10-sp1-hwe-2303:env: any of: .gitlab/ci/kylin-v10-sp1-hwe-2303.yml, k8s.sh
  kylin-v10-sp1-hwe-2303:install: any of: .gitlab/ci/kylin-v10-sp1-hwe-2303.yml, k8s.sh
  kylin-v10-sp1-hwe-2303:shutdown: any of: .gitlab/ci/kylin-v10-sp1-hwe-2303.yml, k8s.sh
  pages: any of: .gitlab/ci/pages.yml, .vitepress/**/*, **.md, public, static, .npmrc, docker-compose.yml, Dockerfile, package.json
  docker:build: any of: .gitlab/ci/pages.yml, .vitepress/**/*, **.md, public, static, .npmrc, docker-compose.yml, Dockerfile, package.json
  docker:deploy: any of: .gitlab/ci/pages.yml, .vitepress/**/*, **.md, public, static, .npmrc, docker-compose.yml, Dockerfile, package.json
  ubuntu-20.04:env: any of: .gitlab/ci/ubuntu-20.04.yml, k8s.sh
  ubuntu-20.04:install: any of: .gitlab/ci/ubuntu-20.04.yml, k8s.sh
  ubuntu-22.04:env:custom-kubernetes-type-private: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.04:install:custom-kubernetes-type-private: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.04:env:custom-pause-image: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  ubuntu-22.04:install:custom-pause-image: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  ubuntu-22.04:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.04:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.10:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.10:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-24.04:env:custom-cidr: any of: .gitlab/ci/ubuntu-24.04-custom-cidr.yml, k8s.sh
  ubuntu-24.04:install:custom-cidr: any of: .gitlab/ci/ubuntu-24.04-custom-cidr.yml, k8s.sh
  ubuntu-24.04:shutdown:custom-cidr: any of: .gitlab/ci/ubuntu-24.04-custom-cidr.yml, k8s.sh
  ubuntu-24.04:env:custom-local-yaml: any of: .gitlab/ci/ubuntu-24.04-custom-local-yaml.yml, k8s.sh
  ubuntu-24.04:install:custom-local-yaml: any of: .gitlab/ci/ubuntu-24.04-custom-local-yaml.yml, k8s.sh
  ubuntu-24.04:shutdown:custom-local-yaml: any of: .gitlab/ci/ubuntu-24.04-custom-local-yaml.yml, k8s.sh
  ubuntu-24.04:env:kubernetes:1.24: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  ubuntu-24.04:install:kubernetes:1.24: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
