Repository titxue/k8s.sh: changes, and which GitLab CI jobs are due for each by the changed paths.
All: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, pages, docker:build, docker:deploy, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

almalinux-9.5:env:
  stage: env
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/debian:curl-jq
  variables:
    QEMU_ID: $ALMALINUX_9_5_QEMU_ID
    SNAPSHOT: $ALMALINUX_9_5_SNAPSHOT
  before_script:
  - echo $PVE_ADDRESS
  - echo $ALMALINUX_9_5_QEMU_ID
  - echo $QEMU_ID
  - echo $ALMALINUX_9_5_SNAPSHOT
  - echo $SNAPSHOT
  script:
  ...

almalinux-9.5:install:
  stage: install
  needs:
  - almalinux-9.5:env
  hooks:
    pre_get_sources_script:
    - ls -lh /etc/yum.repos.d
    - cat /etc/yum.repos.d/almalinux-appstream.repo
    - cat /etc/yum.repos.d/almalinux-baseos.repo
    - cat /etc/yum.repos.d/almalinux-extras.repo
  ...

anolis-23.1:env:
  stage: env
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/debian:curl-jq
  variables:
    QEMU_ID: $ANOLISOS_23_1_QEMU_ID
    SNAPSHOT: $ANOLISOS_23_1_SNAPSHOT
  before_script:
  - echo $PVE_ADDRESS
  - echo $ANOLISOS_23_1_QEMU_ID
  - echo $QEMU_ID
  - echo $ANOLISOS_23_1_SNAPSHOT
  - echo $SNAPSHOT
  script:
  ...

anolis-23.1:install:
  stage: install
  needs:
  - anolis-23.1:env
  hooks:
    pre_get_sources_script:
    - echo $ANOLIS_URL
    - cat /etc/yum.repos.d/AnolisOS.repo
    - sed -i "s#http://mirrors.openanolis.cn/anolis#$ANOLIS_URL#" /etc/yum.repos.d/AnolisOS.repo
    - cat /etc/yum.repos.d/AnolisOS.repo
    - yum clean all
  ...

anolis-7.7:env:kubernetes:1.26:
  stage: env
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/debian:curl-jq
  variables:
    QEMU_ID: $ANOLISOS_7_7_QEMU_ID
    SNAPSHOT: $ANOLISOS_7_7_SNAPSHOT
  before_script:
  - echo $PVE_ADDRESS
  - echo $ANOLISOS_7_7_QEMU_ID
  - echo $QEMU_ID
  - echo $ANOLISOS_7_7_SNAPSHOT
  - echo $SNAPSHOT
  script:
  ...

anolis-7.7:install:kubernetes:1.26:
  stage: install
  needs:
  - anolis-7.7:env:kubernetes:1.26
  variables:
    KUBERNETES_VERSION: v1.26.15
    KUBERNETES_REPO_TYPE: http://172.25.25.14:48081/repository/kubernetes-new-yum
    DOCKER_REPO_TYPE: http://172.25.25.14:48081/repository/docker-yum
  hooks:
    pre_get_sources_script:
    - echo $ANOLIS_URL
  ...

anolis-7.9:env:custom-k8s-repo-type-private:
  stage: env
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/debian:curl-jq
  variables:
    QEMU_ID: $ANOLISOS_7_9_QEMU_ID
    SNAPSHOT: $ANOLISOS_7_9_SNAPSHOT
  before_script:
  - echo $PVE_ADDRESS
  - echo $ANOLISOS_7_9_QEMU_ID
  - echo $QEMU_ID
  - echo $ANOLISOS_7_9_SNAPSHOT
  - echo $SNAPSHOT
  script:
  ...

anolis-7.9:install:custom-k8s-repo-type-private:
  stage: install
  needs:
  - anolis-7.9:env:custom-k8s-repo-type-private
  variables:
    KUBERNETES_VERSION: v1.26.12
    KUBERNETES_REPO_TYPE: http://172.25.25.14:48081/repository/kubernetes-new-yum
  hooks:
    pre_get_sources_script:
    - echo $ANOLIS_URL
    - cat /etc/yum.repos.d/AnolisOS-os.repo
  ...

docker:build:
  stage: docker:build
  image:
    name: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/kaniko-project-executor:v1.23.1-debug
    entrypoint:
    - ''
  needs:
  - job: pages
    artifacts: true
  before_script:
  ...

:construction_worker: stage custom
  .gitlab-ci.yml
  .gitlab/ci/anolis-7.9-custom-docker-repo-type-private.yml
  .gitlab/ci/anolis-7.9-custom-docker-repo-type.yml
  .gitlab/ci/anolis-7.9-custom-k8s-images.yml
  .gitlab/ci/anolis-7.9-custom-k8s-repo-type-private.yml
  .gitlab/ci/anolis-7.9-custom-k8s-repo-type.yml
  .gitlab/ci/anolis-7.9-custom-k8s-version.yml
  .gitlab/ci/anolis-7.9-custom-pause-image.yml
  .gitlab/ci/ubuntu-22.04-custom-docker-repo-type-private.yml
  .gitlab/ci/ubuntu-22.04-custom-k8s-type-private.yml
  .gitlab/ci/ubuntu-22.04-custom-k8s-version-suffix.yml
  .gitlab/ci/ubuntu-22.04-custom-k8s-version.yml
  .gitlab/ci/ubuntu-22.04-custom-pause-image.yml
  .gitlab/ci/ubuntu-24.04-custom-cidr.yml
  .gitlab/ci/ubuntu-24.04-custom-config.yml
  .gitlab/ci/ubuntu-24.04-custom-control-plane-endpoint.yml
  .gitlab/ci/ubuntu-24.04-custom-local-yaml.yml
Due: anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:memo: job num
  question/why-skip-pipelines.md
Due: none

:memo: docker image num
  CHANGELOG.md
Due: pages, docker:build, docker:deploy

:memo: helm install
  config.md
  feature/kylin.md
  getting-started.md
Due: pages, docker:build, docker:deploy

:construction_worker: stage kubernetes:1.24
  .gitlab-ci.yml
  .gitlab/ci/almalinux-9.4-kubernetes-v1.24.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.24.yml
  .gitlab/ci/anolis-7.9-kubernetes-v1.24.yml
  .gitlab/ci/centos-9-20241028.0-kubernetes-v1.24.yml
  .gitlab/ci/debian-10.10.0-kubernetes-v1.24.yml
  .gitlab/ci/ubuntu-24.04-kubernetes-v1.24.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: stage kubernetes:1.25
  .gitlab-ci.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.25.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: stage kubernetes:1.26
  .gitlab-ci.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.26.yml
Due: anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: stage kubernetes:1.27
  .gitlab-ci.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.27.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: stage kubernetes:1.28
  .gitlab-ci.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.28.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: stage kubernetes:1.29
  .gitlab-ci.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.29.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: stage kubernetes:1.30
  .gitlab-ci.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.30.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: KUBERNETES_VERSION: v1.29.11
  .gitlab/ci/anolis-7.7-kubernetes-v1.29.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: KUBERNETES_VERSION: v1.30.7
  .gitlab/ci/anolis-7.7-kubernetes-v1.30.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: add kubernetes v1.31
  .gitlab-ci.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.31.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:memo: 源码
  .vitepress/config.mjs
  feature/source.md
Due: pages, docker:build, docker:deploy

:sparkles: eslint、ECMAScript
  CHANGELOG.md
  eslint.config.mjs
  mirrors/projectcalico/calico/v3.29.1/manifests/calico.yaml
  package.json
  scripts/image/calico.mjs
  scripts/image/common.mjs
  scripts/image/ingress-nginx.mjs
  scripts/image/kube-prometheus.mjs
  scripts/image/kubernetes.mjs
  scripts/image/metrics-server.mjs
  scripts/mirrors/calico.mjs
  scripts/mirrors/dashboard.js
  scripts/mirrors/dashboard.mjs
  scripts/mirrors/ingress-nginx.mjs
  scripts/mirrors/kube-prometheus.js
  scripts/mirrors/kube-prometheus.mjs
  scripts/mirrors/metrics-server.mjs
Due: pages, docker:build, docker:deploy

:sparkles: add kubernetes dashboard charts
  .vitepress/config.mjs
  charts/kubernetes/dashboard/index.yaml
  package.json
  scripts/charts/dashboard.mjs
Due: pages, docker:build, docker:deploy

:sparkles: add kubernetes dashboard charts：add copy
  .vitepress/copy.js
Due: pages, docker:build, docker:deploy

:sparkles: add kubernetes dashboard charts：file
  charts/kubernetes/dashboard/index.yaml
  charts/kubernetes/dashboard/kubernetes-dashboard-7.0.0/kubernetes-dashboard-7.0.0.tgz
  charts/kubernetes/dashboard/kubernetes-dashboard-7.0.1/kubernetes-dashboard-7.0.1.tgz
  charts/kubernetes/dashboard/kubernetes-dashboard-7.1.0/kubernetes-dashboard-7.1.0.tgz
  charts/kubernetes/dashboard/kubernetes-dashboard-7.1.1/kubernetes-dashboard-7.1.1.tgz
  charts/kubernetes/dashboard/kubernetes-dashboard-7.1.2/kubernetes-dashboard-7.1.2.tgz
  charts/kubernetes/dashboard/kubernetes-dashboard-7.1.3/kubernetes-dashboard-7.1.3.tgz
  charts/kubernetes/dashboard/kubernetes-dashboard-7.10.0/kubernetes-dashboard-7.10.0.tgz
  charts/kubernetes/dashboard/kubernetes-dashboard-7.2.0/kubernetes-dashboard-7.2.0.tgz
  charts/kubernetes/dashboard/kubernetes-dashboard-7.3.0/kubernetes-dashboard-7.3.0.tgz
  charts/kubernetes/dashboard/kubernetes-dashboard-7.3.1/kubernetes-dashboard-7.3.1.tgz
  charts/kubernetes/dashboard/kubernetes-dashboard-7.3.2/kubernetes-dashboard-7.3.2.tgz
  charts/kubernetes/dashboard/kubernetes-dashboard-7.4.0/kubernetes-dashboard-7.4.0.tgz
  charts/kubernetes/dashboard/kubernetes-dashboard-7.5.0/kubernetes-dashboard-7.5.0.tgz
  charts/kubernetes/dashboard/kubernetes-dashboard-7.6.0/kubernetes-dashboard-7.6.0.tgz
  charts/kubernetes/dashboard/kubernetes-dashboard-7.6.1/kubernetes-dashboard-7.6.1.tgz
  charts/kubernetes/dashboard/kubernetes-dashboard-7.7.0/kubernetes-dashboard-7.7.0.tgz
  charts/kubernetes/dashboard/kubernetes-dashboard-7.8.0/kubernetes-dashboard-7.8.0.tgz
  charts/kubernetes/dashboard/kubernetes-dashboard-7.9.0/kubernetes-dashboard-7.9.0.tgz
  scripts/charts/dashboard.mjs
Due: none

:construction_worker: rules changes paths
  .gitlab/ci/pages.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, pages, docker:build, docker:deploy, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:sparkles: add kubernetes-sigs metrics-server charts
  charts/kubernetes-sigs/metrics-server/index.yaml
  charts/kubernetes-sigs/metrics-server/metrics-server-helm-chart-3.10.0/metrics-server-3.10.0.tgz
  charts/kubernetes-sigs/metrics-server/metrics-server-helm-chart-3.11.0/metrics-server-3.11.0.tgz
  charts/kubernetes-sigs/metrics-server/metrics-server-helm-chart-3.12.0/metrics-server-3.12.0.tgz
  charts/kubernetes-sigs/metrics-server/metrics-server-helm-chart-3.12.1/metrics-server-3.12.1.tgz
  charts/kubernetes-sigs/metrics-server/metrics-server-helm-chart-3.12.2/metrics-server-3.12.2.tgz
  charts/kubernetes-sigs/metrics-server/metrics-server-helm-chart-3.5.0/metrics-server-3.5.0.tgz
  charts/kubernetes-sigs/metrics-server/metrics-server-helm-chart-3.6.0/metrics-server-3.6.0.tgz
  charts/kubernetes-sigs/metrics-server/metrics-server-helm-chart-3.7.0/metrics-server-3.7.0.tgz
  charts/kubernetes-sigs/metrics-server/metrics-server-helm-chart-3.8.0/metrics-server-3.8.0.tgz
  charts/kubernetes-sigs/metrics-server/metrics-server-helm-chart-3.8.1/metrics-server-3.8.1.tgz
  charts/kubernetes-sigs/metrics-server/metrics-server-helm-chart-3.8.2/metrics-server-3.8.2.tgz
  charts/kubernetes-sigs/metrics-server/metrics-server-helm-chart-3.8.3/metrics-server-3.8.3.tgz
  charts/kubernetes-sigs/metrics-server/metrics-server-helm-chart-3.8.4/metrics-server-3.8.4.tgz
  charts/kubernetes-sigs/metrics-server/metrics-server-helm-chart-3.9.0/metrics-server-3.9.0.tgz
  package.json
  scripts/charts/metrics-server.mjs
Due: pages, docker:build, docker:deploy

:sparkles: 自动同步 kubernetes dashboard 镜像
  package.json
  scripts/image/dashboard.mjs
Due: pages, docker:build, docker:deploy

:sparkles: 镜像 charts
  .vitepress/config.mjs
  charts.md
  scripts/charts/dashboard.mjs
  scripts/charts/ingress-nginx.mjs
  scripts/charts/metrics-server.mjs
Due: pages, docker:build, docker:deploy

:wrench: mirrors/charts
  index.md
Due: pages, docker:build, docker:deploy

:wrench: toc
  charts.md
Due: pages, docker:build, docker:deploy

:wrench: charts
  index.md
Due: pages, docker:build, docker:deploy

:sparkles: almalinux 8.10 install iproute-tc
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:bug: 兼容 sudo 运行脚本
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:memo: title
  .vitepress/config.mjs
  question/nexus-repository.md
Due: pages, docker:build, docker:deploy

:memo: 二进制安装路径
  .vitepress/config.mjs
  question/binary-install-path.md
Due: pages, docker:build, docker:deploy

:sparkles: helm install kubernetes dashboard
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:sparkles: add log
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:bug: 修正 sed
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: add kubernetes-dashboard
  .gitlab-ci.yml
  .gitlab/ci/anolis-7.9-kubernetes-dashboard.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:bug: fix helm-install-kubernetes-dashboard
  .gitlab/ci/anolis-7.9-kubernetes-dashboard.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: add helm install kubernetes dashboard log
  k8s.sh
Due: almalinux-9.5:env, almalinux-9.5:install, anolis-23.1:env, anolis-23.1:install, anolis-7.7:env:kubernetes:1.26, anolis-7.7:install:kubernetes:1.26, anolis-7.9:env:custom-k8s-repo-type-private, anolis-7.9:install:custom-k8s-repo-type-private, anolis-7.9:env:custom-pause-image, anolis-7.9:install:custom-pause-image, anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.1:env, centos-8.1:install, centos-8.1:shutdown, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, kylin-v10-sp1-hwe-2303:env, kylin-v10-sp1-hwe-2303:install, kylin-v10-sp1-hwe-2303:shutdown, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:custom-local-yaml, ubuntu-24.04:install:custom-local-yaml, ubuntu-24.04:shutdown:custom-local-yaml, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

Path conditions:
  almalinux-9.5:env: any of: .gitlab/ci/almalinux-9.5.yml, k8s.sh
  almalinux-9.5:install: any of: .gitlab/ci/almalinux-9.5.yml, k8s.sh
  anolis-23.1:env: any of: .gitlab/ci/anolis-23.1.yml, k8s.sh
  anolis-23.1:install: any of: .gitlab/ci/anolis-23.1.yml, k8s.sh
  anolis-7.7:env:kubernetes:1.26: any of: .gitlab/ci/anolis-7.7-kubernetes-v1.26.yml, k8s.sh
  anolis-7.7:install:kubernetes:1.26: any of: .gitlab/ci/anolis-7.7-kubernetes-v1.26.yml, k8s.sh
  anolis-7.9:env:custom-k8s-repo-type-private: any of: .gitlab/ci/anolis-7.9-custom-k8s-repo-type-private.yml, k8s.sh
  anolis-7.9:install:custom-k8s-repo-type-private: any of: .gitlab/ci/anolis-7.9-custom-k8s-repo-type-private.yml, k8s.sh
  anolis-7.9:env:custom-pause-image: any of: .gitlab/ci/anolis-7.9-custom-pause-image.yml, k8s.sh
  anolis-7.9:install:custom-pause-image: any of: .gitlab/ci/anolis-7.9-custom-pause-image.yml, k8s.sh
  anolis-7.9:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolis-7.9:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolis-8.9:env: any of: .gitlab/ci/anolis-8.9.yml, k8s.sh
  anolis-8.9:install: any of: .gitlab/ci/anolis-8.9.yml, k8s.sh
  anolis-8.9:shutdown: any of: .gitlab/ci/anolis-8.9.yml, k8s.sh
  anolisos-7.9:env:custom-kubernetes-images: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:install:custom-kubernetes-images: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  centos-8.1:env: any of: .gitlab/ci/centos-8.1.yml, k8s.sh
  centos-8.1:install: any of: .gitlab/ci/centos-8.1.yml, k8s.sh
  centos-8.1:shutdown: any of: .gitlab/ci/centos-8.1.yml, k8s.sh
  centos-8.5:env: any of: .gitlab/ci/centos-8.5.yml, k8s.sh
  centos-8.5:install: any of: .gitlab/ci/centos-8.5.yml, k8s.sh
  debian-10.10.0:env:kubernetes:1.24: any of: .gitlab/ci/debian-10.10.0-kubernetes-v1.24.yml, k8s.sh
  debian-10.10.0:install:kubernetes:1.24: any of: .gitlab/ci/debian-10.10.0-kubernetes-v1.24.yml, k8s.sh
  debian-10.10.0:shutdown:kubernetes:1.24: any of: .gitlab/ci/debian-10.10.0-kubernetes-v1.24.yml, k8s.sh
  debian-11.7.0:env: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  debian-11.7.0:install: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  kylin-v10-sp1-hwe-2303:env: any of: .gitlab/ci/kylin-v10-sp1-hwe-2303.yml, k8s.sh
  kylin-v10-sp1-hwe-2303:install: any of: .gitlab/ci/kylin-v10-sp1-hwe-2303.yml, k8s.sh
  kylin-v10-sp1-hwe-2303:shutdown: any of: .gitlab/ci/kylin-v10-sp1-hwe-2303.yml, k8s.sh
  pages: any of: .gitlab/ci/pages.yml, .vitepress/**/*, **.md, public, static, .npmrc, docker-compose.yml, Dockerfile, package.json
  docker:build: any of: .gitlab/ci/pages.yml, .vitepress/**/*, **.md, public, static, .npmrc, docker-compose.yml, Dockerfile, package.json
  docker:deploy: any of: .gitlab/ci/pages.yml, .vitepress/**/*, **.md, public, static, .npmrc, docker-compose.yml, Dockerfile, package.json
  ubuntu-20.04:env: any of: .gitlab/ci/ubuntu-20.04.yml, k8s.sh
  ubuntu-20.04:install: any of: .gitlab/ci/ubuntu-20.04.yml, k8s.sh
  ubuntu-22.04:env:custom-kubernetes-type-private: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.04:install:custom-kubernetes-type-private: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.04:env:custom-pause-image: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  ubuntu-22.04:install:custom-pause-image: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  ubuntu-22.04:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.04:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.10:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.10:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-24.04:env:custom-cidr: any of: .gitlab/ci/ubuntu-24.04-custom-cidr.yml, k8s.sh
  ubuntu-24.04:install:custom-cidr: any of: .gitlab/ci/ubuntu-24.04-custom-cidr.yml, k8s.sh
  ubuntu-24.04:shutdown:custom-cidr: any of: .gitlab/ci/ubuntu-24.04-custom-cidr.yml, k8s.sh
  ubuntu-24.04:env:custom-local-yaml: any of: .gitlab/ci/ubuntu-24.04-custom-local-yaml.yml, k8s.sh
  ubuntu-24.04:install:custom-local-yaml: any of: .gitlab/ci/ubuntu-24.04-custom-local-yaml.yml, k8s.sh
  ubuntu-24.04:shutdown:custom-local-yaml: any of: .gitlab/ci/ubuntu-24.04-custom-local-yaml.yml, k8s.sh
  ubuntu-24.04:env:kubernetes:1.24: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  ubuntu-24.04:install:kubernetes:1.24: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
