Repository titxue/k8s.sh: changes, and which GitLab CI jobs are due for each by the changed paths.
All: anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, pages, docker:build, docker:deploy, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

Path conditions:
  anolis-7.9:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolis-7.9:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolis-8.9:env: any of: .gitlab/ci/anolis-8.9.yml, k8s.sh
  anolis-8.9:install: any of: .gitlab/ci/anolis-8.9.yml, k8s.sh
  anolis-8.9:shutdown: any of: .gitlab/ci/anolis-8.9.yml, k8s.sh
  anolisos-7.9:env:custom-kubernetes-images: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:install:custom-kubernetes-images: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  centos-8.5:env: any of: .gitlab/ci/centos-8.5.yml, k8s.sh
  centos-8.5:install: any of: .gitlab/ci/centos-8.5.yml, k8s.sh
  debian-10.10.0:env:kubernetes:1.24: any of: .gitlab/ci/debian-10.10.0-kubernetes-v1.24.yml, k8s.sh
  debian-10.10.0:install:kubernetes:1.24: any of: .gitlab/ci/debian-10.10.0-kubernetes-v1.24.yml, k8s.sh
  debian-10.10.0:shutdown:kubernetes:1.24: any of: .gitlab/ci/debian-10.10.0-kubernetes-v1.24.yml, k8s.sh
  debian-11.7.0:env: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  debian-11.7.0:install: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  pages: any of: .gitlab/ci/pages.yml, .vitepress/**/*, **.md, public, static, .npmrc, docker-compose.yml, Dockerfile, package.json
  docker:build: any of: .gitlab/ci/pages.yml, .vitepress/**/*, **.md, public, static, .npmrc, docker-compose.yml, Dockerfile, package.json
  docker:deploy: any of: .gitlab/ci/pages.yml, .vitepress/**/*, **.md, public, static, .npmrc, docker-compose.yml, Dockerfile, package.json
  ubuntu-20.04:env: any of: .gitlab/ci/ubuntu-20.04.yml, k8s.sh
  ubuntu-20.04:install: any of: .gitlab/ci/ubuntu-20.04.yml, k8s.sh
  ubuntu-22.04:env:custom-kubernetes-type-private: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.04:install:custom-kubernetes-type-private: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.04:env:custom-pause-image: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  ubuntu-22.04:install:custom-pause-image: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  ubuntu-22.04:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.04:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.10:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.10:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-24.04:env:kubernetes:1.24: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  ubuntu-24.04:install:kubernetes:1.24: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh

:construction_worker: 在 GitHub 上编辑
  .github/workflows/docs-deploy.yml
Due: none

:wrench: 修正仓库
  check.sh
Due: none

:wrench: title
  .vitepress/config.mjs
Due: pages, docker:build, docker:deploy

:construction_worker: test
  question/a/b.md
Due: none

:construction_worker: test
  .gitlab/ci/pages.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, pages, docker:build, docker:deploy, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: delete test
  question/a/b.md
Due: none

:memo: 为什么不使用 Docker
  .vitepress/config.mjs
  question/why-not-use-docker.md
Due: pages, docker:build, docker:deploy

Revert ":wrench: title"
  .vitepress/config.mjs
Due: pages, docker:build, docker:deploy

:memo: 简介
  .vitepress/config.mjs
  README.md
Due: pages, docker:build, docker:deploy

:memo: 目录
  .vitepress/config.mjs
Due: pages, docker:build, docker:deploy

:wrench: 复制静态文件夹
  .vitepress/copy.js
  package.json
Due: pages, docker:build, docker:deploy

:wrench: 忽略死链
  .vitepress/config.mjs
Due: pages, docker:build, docker:deploy

:wrench: 复制 sh
  .vitepress/copy.js
Due: pages, docker:build, docker:deploy

:memo: 提交议题
  README.md
Due: pages, docker:build, docker:deploy

:memo: 操作系统
  index.md
Due: pages, docker:build, docker:deploy

:memo: RELEASE 说明
  RELEASE.md
Due: pages, docker:build, docker:deploy

:wrench: srcExclude RELEASE.md
  .vitepress/config.mjs
Due: pages, docker:build, docker:deploy

:sparkles: 自动下载所有 kubernetes-sigs/metrics-server deploy yaml
  .vitepress/metrics-server.js
  mirrors/kubernetes-sigs/metrics-server/v0.4.0/components.yaml
  mirrors/kubernetes-sigs/metrics-server/v0.4.1/components.yaml
  mirrors/kubernetes-sigs/metrics-server/v0.4.2/components.yaml
  mirrors/kubernetes-sigs/metrics-server/v0.4.3/components.yaml
  mirrors/kubernetes-sigs/metrics-server/v0.4.4/components.yaml
  mirrors/kubernetes-sigs/metrics-server/v0.4.5/components.yaml
  mirrors/kubernetes-sigs/metrics-server/v0.5.0/components.yaml
  mirrors/kubernetes-sigs/metrics-server/v0.5.1/components.yaml
  mirrors/kubernetes-sigs/metrics-server/v0.5.2/components.yaml
  mirrors/kubernetes-sigs/metrics-server/v0.7.2/components.yaml
  mirrors/kubernetes-sigs/metrics-server/v0.7.2/high-availability-1.21+.yaml
  mirrors/kubernetes-sigs/metrics-server/v0.7.2/high-availability.yaml
  package.json
Due: pages, docker:build, docker:deploy

:memo: 镜像：kubernetes-sigs/metrics-server
  .vitepress/config.mjs
  .vitepress/metrics-server.js
  mirrors.md
Due: pages, docker:build, docker:deploy

:sparkles: 自动下载所有 projectcalico/calico deploy yaml
  .vitepress/calico.js
  mirrors/projectcalico/calico/v3.24.0/calico.yaml
  mirrors/projectcalico/calico/v3.24.1/calico.yaml
  mirrors/projectcalico/calico/v3.24.2/calico.yaml
  mirrors/projectcalico/calico/v3.24.3/calico.yaml
  mirrors/projectcalico/calico/v3.24.4/calico.yaml
  mirrors/projectcalico/calico/v3.24.5/calico.yaml
  mirrors/projectcalico/calico/v3.24.6/calico.yaml
  mirrors/projectcalico/calico/v3.25.0/calico.yaml
  mirrors/projectcalico/calico/v3.25.1/calico.yaml
  mirrors/projectcalico/calico/v3.25.2/calico.yaml
  mirrors/projectcalico/calico/v3.26.0/calico.yaml
  mirrors/projectcalico/calico/v3.26.1/calico.yaml
  mirrors/projectcalico/calico/v3.26.2/calico.yaml
  mirrors/projectcalico/calico/v3.26.3/calico.yaml
  mirrors/projectcalico/calico/v3.26.4/calico.yaml
  mirrors/projectcalico/calico/v3.26.5/calico.yaml
  mirrors/projectcalico/calico/v3.27.0/calico.yaml
  mirrors/projectcalico/calico/v3.27.1/calico.yaml
  mirrors/projectcalico/calico/v3.27.2/calico.yaml
  mirrors/projectcalico/calico/v3.27.3/calico.yaml
  mirrors/projectcalico/calico/v3.27.4/calico.yaml
  mirrors/projectcalico/calico/v3.28.0/calico.yaml
  mirrors/projectcalico/calico/v3.28.1/calico.yaml
  mirrors/projectcalico/calico/v3.28.2/calico.yaml
  mirrors/projectcalico/calico/v3.29.0/calico.yaml
  package.json
Due: pages, docker:build, docker:deploy

:wrench: 修正文件夹
  .vitepress/calico.js
  mirrors/projectcalico/calico/v3.24.0/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.24.1/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.24.2/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.24.3/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.24.4/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.24.5/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.24.6/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.25.0/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.25.1/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.25.2/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.26.0/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.26.1/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.26.2/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.26.3/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.26.4/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.26.5/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.27.0/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.27.1/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.27.2/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.27.3/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.27.4/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.28.0/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.28.1/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.28.2/manifests/calico.yaml
  mirrors/projectcalico/calico/v3.29.0/manifests/calico.yaml
Due: pages, docker:build, docker:deploy

:memo: 镜像：projectcalico/calico
  .vitepress/config.mjs
  mirrors.md
Due: pages, docker:build, docker:deploy

:memo: RELEASE 说明：补充
  RELEASE.md
Due: pages, docker:build, docker:deploy

:construction_worker: environment kubernetes/v1.31
  .gitlab/ci/almalinux-8.10.yml
  .gitlab/ci/almalinux-9.4.yml
  .gitlab/ci/anolis-23.0.yml
  .gitlab/ci/anolis-23.1.yml
  .gitlab/ci/anolis-7.7.yml
  .gitlab/ci/anolis-7.9.yml
  .gitlab/ci/anolis-8.2.yml
  .gitlab/ci/anolis-8.4.yml
  .gitlab/ci/anolis-8.6.yml
  .gitlab/ci/anolis-8.8.yml
  .gitlab/ci/anolis-8.9.yml
  .gitlab/ci/centos-7.9.yml
  .gitlab/ci/centos-8.1.yml
  .gitlab/ci/centos-8.2.yml
  .gitlab/ci/centos-8.3.yml
  .gitlab/ci/centos-8.4.yml
  .gitlab/ci/centos-8.5.yml
  .gitlab/ci/centos-9-20241028.0.yml
  .gitlab/ci/debian-10.10.0.yml
  .gitlab/ci/debian-11.7.0.yml
  .gitlab/ci/debian-12.4.0.yml
  .gitlab/ci/debian-12.7.0.yml
  .gitlab/ci/openeuler-20.03.yml
  .gitlab/ci/openeuler-22.03.yml
  .gitlab/ci/openeuler-24.03.yml
  .gitlab/ci/openkylin-1.0.1.yml
  .gitlab/ci/openkylin-1.0.2.yml
  .gitlab/ci/openkylin-1.0.yml
  .gitlab/ci/openkylin-2.0.yml
  .gitlab/ci/ubuntu-18.04.yml
  .gitlab/ci/ubuntu-20.04.yml
  .gitlab/ci/ubuntu-22.04.yml
  .gitlab/ci/ubuntu-24.04.yml
  RELEASE.md
Due: anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, pages, docker:build, docker:deploy, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:memo: 流水线环境
  README.md
Due: pages, docker:build, docker:deploy

:sparkles: 支持自定义 Service、Pod CIDR
  .gitlab-ci.yml
  .gitlab/ci/ubuntu-24.04-custom-cidr.yml
  config.md
  k8s.sh
Due: anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, pages, docker:build, docker:deploy, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:sparkles: 支持自定义 Service、Pod CIDR：修正 grep
  .gitlab/ci/ubuntu-24.04-custom-cidr.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:sparkles: 支持接收自定义网卡名称，补充网络插件 calico 安装参数
  config.md
  k8s.sh
Due: anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, pages, docker:build, docker:deploy, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:memo: id
  getting-started.md
Due: pages, docker:build, docker:deploy

:memo: Kubernetes 重置
  .vitepress/config.mjs
  question/kubeadm-reset.md
Due: pages, docker:build, docker:deploy

:sparkles: calico manifests 默认值：使用文档域名
  config.md
  k8s.sh
Due: anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, pages, docker:build, docker:deploy, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:art: 统一参数/变量名格式
  config.md
  k8s.sh
Due: anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, pages, docker:build, docker:deploy, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:sparkles: 递归、优化、统一
  .vitepress/calico.js
  .vitepress/ingress-nginx.js
  .vitepress/metrics-server.js
Due: pages, docker:build, docker:deploy

:wrench: 导航栏菜单
  .vitepress/config.mjs
Due: pages, docker:build, docker:deploy

:memo: 将文档域名作为默认下载地址
  getting-started.md
Due: pages, docker:build, docker:deploy

:memo: 为什么 跳过 流水线
  .vitepress/config.mjs
  index.md
  question/why-skip-pipelines.md
Due: pages, docker:build, docker:deploy
