Repository titxue/k8s.sh: changes, and which GitLab CI jobs are due for each by the changed paths.
All: anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, pages, docker:build, docker:deploy, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

anolis-7.9:env:
  stage: env
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/debian:curl-jq
  variables:
    QEMU_ID: $ANOLISOS_7_9_QEMU_ID
    SNAPSHOT: $ANOLISOS_7_9_SNAPSHOT
  before_script:
  - echo $PVE_ADDRESS
  - echo $ANOLISOS_7_9_QEMU_ID
  - echo $QEMU_ID
  - echo $ANOLISOS_7_9_SNAPSHOT
  - echo $SNAPSHOT
  script:
  ...

anolis-7.9:install:
  stage: install
  needs:
  - anolis-7.9:env
  hooks:
    pre_get_sources_script:
    - echo $ANOLIS_URL
    - cat /etc/yum.repos.d/AnolisOS-os.repo
    - sed -i "s#http://mirrors.openanolis.cn/anolis#$ANOLIS_URL#" /etc/yum.repos.d/AnolisOS-os.repo
    - cat /etc/yum.repos.d/AnolisOS-os.repo
  ...

anolis-8.9:env:
  stage: env
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/debian:curl-jq
  variables:
    QEMU_ID: $ANOLISOS_8_9_QEMU_ID
    SNAPSHOT: $ANOLISOS_8_9_SNAPSHOT
  before_script:
  - echo $PVE_ADDRESS
  - echo $ANOLISOS_8_9_QEMU_ID
  - echo $QEMU_ID
  - echo $ANOLISOS_8_9_SNAPSHOT
  - echo $SNAPSHOT
  script:
  ...

anolis-8.9:install:
  stage: install
  needs:
  - anolis-8.9:env
  hooks:
    pre_get_sources_script:
    - echo $ANOLIS_URL
    - cat /etc/yum.repos.d/AnolisOS-AppStream.repo
    - sed -i "s#http://mirrors.openanolis.cn/anolis#$ANOLIS_URL#" /etc/yum.repos.d/AnolisOS-AppStream.repo
    - cat /etc/yum.repos.d/AnolisOS-AppStream.repo
  ...

anolis-8.9:shutdown:
  stage: shutdown
  needs:
  - anolis-8.9:install
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/debian:curl-jq
  variables:
    QEMU_ID: $ANOLISOS_8_9_QEMU_ID
    SNAPSHOT: $ANOLISOS_8_9_SNAPSHOT
  before_script:
  - echo $PVE_ADDRESS
  - echo $ANOLISOS_8_9_QEMU_ID
  - echo $QEMU_ID
  ...

anolisos-7.9:env:custom-kubernetes-images:
  stage: env
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/debian:curl-jq
  variables:
    QEMU_ID: $ANOLISOS_7_9_QEMU_ID
    SNAPSHOT: $ANOLISOS_7_9_SNAPSHOT
  before_script:
  - echo $PVE_ADDRESS
  - echo $ANOLISOS_7_9_QEMU_ID
  - echo $QEMU_ID
  - echo $ANOLISOS_7_9_SNAPSHOT
  - echo $SNAPSHOT
  script:
  ...

anolisos-7.9:install:custom-kubernetes-images:
  stage: install
  needs:
  - anolisos-7.9:env:custom-kubernetes-images
  variables:
    KUBERNETES_VERSION: v1.30.6
    KUBERNETES_IMAGES: xuxiaoweicomcn
  hooks:
    pre_get_sources_script:
    - echo $ANOLIS_URL
    - cat /etc/yum.repos.d/AnolisOS-os.repo
  ...

anolisos-7.9:env:
  stage: env
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/debian:curl-jq
  variables:
    QEMU_ID: $ANOLISOS_7_9_QEMU_ID
    SNAPSHOT: $ANOLISOS_7_9_SNAPSHOT
  before_script:
  - echo $PVE_ADDRESS
  - echo $ANOLISOS_7_9_QEMU_ID
  - echo $QEMU_ID
  - echo $ANOLISOS_7_9_SNAPSHOT
  - echo $SNAPSHOT
  script:
  ...

anolisos-7.9:install:
  stage: install
  needs:
  - anolisos-7.9:env
  hooks:
    pre_get_sources_script:
    - yum install -y git
    - git config --global http.sslVerify false
  before_script:
  - cat /etc/os-release
  - ip addr | grep 'inet '
  script:
  - chmod +x tmp.sh
  - ./tmp.sh swap-off
  - free -h
  ...

:sparkles: Ubuntu Kylin 18.04.5：删除无法访问的源
  .gitlab/ci/ubuntu-kylin-18.04.5.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:memo: 补充支持系统/版本：Ubuntu Kylin
  README.md
  index.md
  question/why-skip-pipelines.md
Due: pages, docker:build, docker:deploy

:wrench: features test
  index.md
Due: pages, docker:build, docker:deploy

:wrench: hero actions README
  index.md
Due: pages, docker:build, docker:deploy

:memo: 补充支持系统/版本：Ubuntu Kylin
  CHANGELOG.md
Due: pages, docker:build, docker:deploy

:memo: 补充系统名称
  CHANGELOG.md
  README.md
  package.json
Due: pages, docker:build, docker:deploy

:memo: 补全 CentOS 系统版本号
  CHANGELOG.md
  README.md
Due: pages, docker:build, docker:deploy

:construction_worker: CentOS 7.9.2207
  .gitlab-ci.yml
  .gitlab/ci/centos-7.9-2207.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: CentOS 7.9 内核判断
  .gitlab/ci/centos-7.9-2207.yml
  .gitlab/ci/centos-7.9.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:memo: add CentOS 7.9.2207
  CHANGELOG.md
  README.md
  index.md
  question/why-skip-pipelines.md
Due: pages, docker:build, docker:deploy

:construction_worker: AlmaLinux 9.5
  .gitlab-ci.yml
  .gitlab/ci/almalinux-9.5.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:memo: add AlmaLinux 9.5
  CHANGELOG.md
  README.md
  index.md
  question/why-skip-pipelines.md
Due: pages, docker:build, docker:deploy

:memo: 补充系统名称
  README.md
Due: pages, docker:build, docker:deploy

:memo: 补充系统名称
  CHANGELOG.md
  README.md
Due: pages, docker:build, docker:deploy

:construction_worker: rocky 9.5
  .gitlab-ci.yml
  .gitlab/ci/rocky-9.5.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:memo: rocky 9.5
  CHANGELOG.md
  README.md
  index.md
  question/why-skip-pipelines.md
Due: pages, docker:build, docker:deploy

:sparkles: kylin v10 sp1 2403
  .gitlab-ci.yml
  .gitlab/ci/kylin-v10-sp1-2403-20240430.yml
  k8s.sh
Due: anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:memo: 银河麒麟 Kylin v10 sp1 2403
  .gitlab/ci/kylin-v10-sp1-2403-20240430.yml
  .vitepress/config.mjs
  CHANGELOG.md
  README.md
  feature/kylin.md
  index.md
  question/why-skip-pipelines.md
  static/kylin-1.png
  static/kylin-2.png
  static/kylin-3.png
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, pages, docker:build, docker:deploy, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:memo: id
  feature/kylin.md
Due: none

:memo: 补充版本说明
  feature/kylin.md
Due: none

:memo: 补充文档适用范围
  feature/kylin.md
Due: none

:construction_worker: kylin v10 sp1 2303
  .gitlab-ci.yml
  .gitlab/ci/kylin-v10-sp1-hwe-2303.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: kylin v10 sp1 2303：修正版本判断
  .gitlab/ci/kylin-v10-sp1-hwe-2303.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:memo: 银河麒麟 Kylin v10 sp1 2303
  CHANGELOG.md
  README.md
  index.md
  question/why-skip-pipelines.md
Due: pages, docker:build, docker:deploy

:memo: 原则
  README.md
Due: pages, docker:build, docker:deploy

:memo: 镜像文件
  CHANGELOG.md
Due: pages, docker:build, docker:deploy

:memo: 同步 Docker 镜像
  CHANGELOG.md
  scripts/image/calico.mjs
  scripts/image/ingress-nginx.mjs
  scripts/image/kubernetes.mjs
  scripts/image/metrics-server.mjs
Due: pages, docker:build, docker:deploy

:construction_worker: pages 排除 scripts/**/*
  .gitlab/ci/pages.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, pages, docker:build, docker:deploy, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:wrench: add kube-prometheus
  package.json
  scripts/image/kube-prometheus.mjs
Due: pages, docker:build, docker:deploy

:wrench: kube-prometheus：暂存
  scripts/image/kube-prometheus.mjs
Due: none

:construction_worker: 银河麒麟 apt 更新：防止异常
  .gitlab/ci/kylin-v10-sp1-2403-20240430.yml
  .gitlab/ci/kylin-v10-sp1-hwe-2303.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:sparkles: helm install：install tar
  k8s.sh
Due: anolis-7.9:env, anolis-7.9:install, anolis-8.9:env, anolis-8.9:install, anolis-8.9:shutdown, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-10.10.0:env:kubernetes:1.24, debian-10.10.0:install:kubernetes:1.24, debian-10.10.0:shutdown:kubernetes:1.24, debian-11.7.0:env, debian-11.7.0:install, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:custom-cidr, ubuntu-24.04:install:custom-cidr, ubuntu-24.04:shutdown:custom-cidr, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: 使用注释，而非删除
  .gitlab/ci/ubuntu-kylin-18.04.5.yml
  .gitlab/ci/ubuntu-kylin-20.04.6.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: Rocky 使用自建源
  .gitlab/ci/rocky-8.10.yml
  .gitlab/ci/rocky-9.4.yml
  .gitlab/ci/rocky-9.5.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: use shutdown -r +1
  .gitlab/ci/almalinux-8.10.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

Path conditions:
  anolis-7.9:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolis-7.9:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolis-8.9:env: any of: .gitlab/ci/anolis-8.9.yml, k8s.sh
  anolis-8.9:install: any of: .gitlab/ci/anolis-8.9.yml, k8s.sh
  anolis-8.9:shutdown: any of: .gitlab/ci/anolis-8.9.yml, k8s.sh
  anolisos-7.9:env:custom-kubernetes-images: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:install:custom-kubernetes-images: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  centos-8.5:env: any of: .gitlab/ci/centos-8.5.yml, k8s.sh
  centos-8.5:install: any of: .gitlab/ci/centos-8.5.yml, k8s.sh
  debian-10.10.0:env:kubernetes:1.24: any of: .gitlab/ci/debian-10.10.0-kubernetes-v1.24.yml, k8s.sh
  debian-10.10.0:install:kubernetes:1.24: any of: .gitlab/ci/debian-10.10.0-kubernetes-v1.24.yml, k8s.sh
  debian-10.10.0:shutdown:kubernetes:1.24: any of: .gitlab/ci/debian-10.10.0-kubernetes-v1.24.yml, k8s.sh
  debian-11.7.0:env: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  debian-11.7.0:install: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  pages: any of: .gitlab/ci/pages.yml, .vitepress/**/*, **.md, public, static, .npmrc, docker-compose.yml, Dockerfile, package.json
  docker:build: any of: .gitlab/ci/pages.yml, .vitepress/**/*, **.md, public, static, .npmrc, docker-compose.yml, Dockerfile, package.json
  docker:deploy: any of: .gitlab/ci/pages.yml, .vitepress/**/*, **.md, public, static, .npmrc, docker-compose.yml, Dockerfile, package.json
  ubuntu-20.04:env: any of: .gitlab/ci/ubuntu-20.04.yml, k8s.sh
  ubuntu-20.04:install: any of: .gitlab/ci/ubuntu-20.04.yml, k8s.sh
  ubuntu-22.04:env:custom-kubernetes-type-private: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.04:install:custom-kubernetes-type-private: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.04:env:custom-pause-image: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  ubuntu-22.04:install:custom-pause-image: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  ubuntu-22.04:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.04:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.10:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.10:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-24.04:env:custom-cidr: any of: .gitlab/ci/ubuntu-24.04-custom-cidr.yml, k8s.sh
  ubuntu-24.04:install:custom-cidr: any of: .gitlab/ci/ubuntu-24.04-custom-cidr.yml, k8s.sh
  ubuntu-24.04:shutdown:custom-cidr: any of: .gitlab/ci/ubuntu-24.04-custom-cidr.yml, k8s.sh
  ubuntu-24.04:env:kubernetes:1.24: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  ubuntu-24.04:install:kubernetes:1.24: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
