Repository titxue/k8s.sh: changes, and which GitLab CI jobs are due for each by the changed paths.
All: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

Path conditions:
  anolis-7.9:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolis-7.9:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:env:custom-kubernetes-images: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:install:custom-kubernetes-images: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  centos-8.5:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  centos-8.5:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  debian-11.7.0:env: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  debian-11.7.0:install: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  ubuntu-22.04:env:custom-kubernetes-type-private: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.04:install:custom-kubernetes-type-private: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.04:env:custom-pause-image: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  ubuntu-22.04:install:custom-pause-image: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  ubuntu-22.04:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.04:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.10:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.10:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh

:bug: 修正脚本名称
  .gitlab/ci/anolis-23.0.yml
  .gitlab/ci/anolis-23.1.yml
  .gitlab/ci/anolis-7.7.yml
  .gitlab/ci/anolis-7.9-custom-docker-repo-type-private.yml
  .gitlab/ci/anolis-7.9-custom-docker-repo-type.yml
  .gitlab/ci/anolis-7.9-custom-k8s-images.yml
  .gitlab/ci/anolis-7.9-custom-k8s-repo-type-private.yml
  .gitlab/ci/anolis-7.9-custom-k8s-repo-type.yml
  .gitlab/ci/anolis-7.9-custom-k8s-version.yml
  .gitlab/ci/anolis-7.9-custom-pause-image.yml
  .gitlab/ci/anolis-7.9.yml
  .gitlab/ci/anolis-8.2.yml
  .gitlab/ci/anolis-8.4.yml
  .gitlab/ci/anolis-8.6.yml
  .gitlab/ci/anolis-8.8.yml
  .gitlab/ci/anolis-8.9.yml
  .gitlab/ci/centos-7.9.yml
  .gitlab/ci/centos-8.1.yml
  .gitlab/ci/centos-8.2.yml
  .gitlab/ci/centos-8.3.yml
  .gitlab/ci/centos-8.4.yml
  .gitlab/ci/centos-8.5.yml
  .gitlab/ci/centos-9-20241028.0.yml
  .gitlab/ci/debian-10.10.0.yml
  .gitlab/ci/debian-11.7.0.yml
  .gitlab/ci/debian-12.4.0.yml
  .gitlab/ci/debian-12.7.0.yml
  .gitlab/ci/ubuntu-18.04.yml
  .gitlab/ci/ubuntu-20.04.yml
  .gitlab/ci/ubuntu-22.04-custom-docker-repo-type-private.yml
  .gitlab/ci/ubuntu-22.04-custom-k8s-type-private.yml
  .gitlab/ci/ubuntu-22.04-custom-k8s-version-suffix.yml
  .gitlab/ci/ubuntu-22.04-custom-k8s-version.yml
  .gitlab/ci/ubuntu-22.04-custom-pause-image.yml
  .gitlab/ci/ubuntu-22.04.yml
  .gitlab/ci/ubuntu-24.04.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:tada: docs
  .gitignore
  .gitlab-ci.yml
  .gitlab/ci/pages.yml
  .gitlab/ci/sync.yml
  .npmrc
  .vitepress/config.mjs
  api-examples.md
  index.md
  markdown-examples.md
  package.json
  public/favicon.ico
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: 修正项目名
  .gitlab-ci.yml
  .gitlab/ci/pages.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: 调整阶段顺序
  .gitlab-ci.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:coffin: clean
  install.sh
Due: none

:memo: 参数配置
  .gitlab/ci/anolis-23.0.yml
  .gitlab/ci/anolis-23.1.yml
  .gitlab/ci/anolis-7.7.yml
  .gitlab/ci/anolis-7.9.yml
  .gitlab/ci/anolis-8.2.yml
  .gitlab/ci/anolis-8.4.yml
  .gitlab/ci/anolis-8.6.yml
  .gitlab/ci/anolis-8.8.yml
  .gitlab/ci/anolis-8.9.yml
  .gitlab/ci/centos-7.9.yml
  .gitlab/ci/centos-8.1.yml
  .gitlab/ci/centos-8.2.yml
  .gitlab/ci/centos-8.3.yml
  .gitlab/ci/centos-8.4.yml
  .gitlab/ci/centos-8.5.yml
  .gitlab/ci/centos-9-20241028.0.yml
  .gitlab/ci/debian-10.10.0.yml
  .gitlab/ci/debian-11.7.0.yml
  .gitlab/ci/debian-12.4.0.yml
  .gitlab/ci/debian-12.7.0.yml
  .gitlab/ci/ubuntu-18.04.yml
  .gitlab/ci/ubuntu-20.04.yml
  .gitlab/ci/ubuntu-22.04.yml
  .gitlab/ci/ubuntu-24.04.yml
  .vitepress/config.mjs
  README.md
  api-examples.md
  config.md
  getting-started.md
  index.md
  k8s.sh
  markdown-examples.md
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:memo: 参数配置：补充
  config.md
Due: none

:memo: 参数配置：参数介绍
  config.md
Due: none

:memo: 历史版本
  README.md
  history.md
Due: none

:construction_worker: anolis 7.7 测试 Kubernetes v1.30.6
  .gitlab-ci.yml
  .gitlab/ci/anolis-7.7-1.30.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: 流水线调整为手动
  .gitlab/ci/anolis-23.0.yml
  .gitlab/ci/anolis-23.1.yml
  .gitlab/ci/anolis-7.7.yml
  .gitlab/ci/anolis-7.9.yml
  .gitlab/ci/anolis-8.2.yml
  .gitlab/ci/anolis-8.4.yml
  .gitlab/ci/anolis-8.6.yml
  .gitlab/ci/anolis-8.8.yml
  .gitlab/ci/anolis-8.9.yml
  .gitlab/ci/centos-7.9.yml
  .gitlab/ci/centos-8.1.yml
  .gitlab/ci/centos-8.2.yml
  .gitlab/ci/centos-8.3.yml
  .gitlab/ci/centos-8.4.yml
  .gitlab/ci/centos-8.5.yml
  .gitlab/ci/centos-9-20241028.0.yml
  .gitlab/ci/debian-10.10.0.yml
  .gitlab/ci/debian-11.7.0.yml
  .gitlab/ci/debian-12.4.0.yml
  .gitlab/ci/debian-12.7.0.yml
  .gitlab/ci/ubuntu-18.04.yml
  .gitlab/ci/ubuntu-20.04.yml
  .gitlab/ci/ubuntu-22.04.yml
  .gitlab/ci/ubuntu-24.04.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: 重命名、增加环境、自定义私有源加快测试
  .gitlab-ci.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.30.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: Pages 限制流水线运行条件
  .gitlab/ci/pages.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: anolis 7.7 测试 Kubernetes v1.29.10
  .gitlab-ci.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.29.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: anolis 7.7 测试 Kubernetes v1.29.10
  .gitlab/ci/anolis-7.7-kubernetes-v1.29.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:sparkles: 启用 IPv4 数据包转发：补充 1.24 到 1.29 的配置
  k8s.sh
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: 优化格式
  .gitlab/ci/anolis-23.0.yml
  .gitlab/ci/anolis-23.1.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.29.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.30.yml
  .gitlab/ci/anolis-7.7.yml
  .gitlab/ci/anolis-7.9.yml
  .gitlab/ci/anolis-8.2.yml
  .gitlab/ci/anolis-8.4.yml
  .gitlab/ci/anolis-8.6.yml
  .gitlab/ci/anolis-8.8.yml
  .gitlab/ci/anolis-8.9.yml
  .gitlab/ci/centos-7.9.yml
  .gitlab/ci/centos-8.1.yml
  .gitlab/ci/centos-8.2.yml
  .gitlab/ci/centos-8.3.yml
  .gitlab/ci/centos-8.4.yml
  .gitlab/ci/centos-8.5.yml
  .gitlab/ci/centos-9-20241028.0.yml
  .gitlab/ci/debian-10.10.0.yml
  .gitlab/ci/debian-11.7.0.yml
  .gitlab/ci/debian-12.4.0.yml
  .gitlab/ci/debian-12.7.0.yml
  .gitlab/ci/ubuntu-18.04.yml
  .gitlab/ci/ubuntu-20.04.yml
  .gitlab/ci/ubuntu-22.04.yml
  .gitlab/ci/ubuntu-24.04.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: anolis 7.7 测试 Kubernetes v1.28.15
  .gitlab-ci.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.28.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: anolis 7.7 测试 Kubernetes v1.27.16
  .gitlab-ci.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.27.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: anolis 7.7 测试 Kubernetes v1.26.15
  .gitlab-ci.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.26.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: anolis 7.7 测试 Kubernetes v1.25.16
  .gitlab-ci.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.25.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: anolis 7.7 测试 Kubernetes v1.24.17
  .gitlab-ci.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.24.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: anolis 7.7 测试 Kubernetes v1.24.17：兼容去污命令
  k8s.sh
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: anolis 7.9 测试 Kubernetes v1.24.17
  .gitlab-ci.yml
  .gitlab/ci/anolis-7.9-kubernetes-v1.24.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:memo: 支持系统/版本
  README.md
Due: none

:construction_worker: debian 10.10.0 测试 Kubernetes v1.24.17
  .gitlab-ci.yml
  .gitlab/ci/debian-10.10.0-kubernetes-v1.24.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: ubuntu 24.04 测试 Kubernetes v1.24.17
  .gitlab-ci.yml
  .gitlab/ci/ubuntu-24.04-kubernetes-v1.24.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: centos 9 测试 Kubernetes v1.24.17
  .gitlab-ci.yml
  .gitlab/ci/centos-9-20241028.0-kubernetes-v1.24.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:sparkles: AlmaLinux 9.4
  .gitlab-ci.yml
  .gitlab/ci/almalinux-9.4.yml
  k8s.sh
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:sparkles: AlmaLinux 9.4: use ls
  .gitlab/ci/almalinux-9.4.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:sparkles: AlmaLinux 9.4: fix path
  .gitlab/ci/almalinux-9.4.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: AlmaLinux 9.4 测试 Kubernetes v1.24.17
  .gitlab-ci.yml
  .gitlab/ci/almalinux-9.4-kubernetes-v1.24.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:sparkles: OpenKylin 2.0
  .gitlab-ci.yml
  .gitlab/ci/openkylin-2.0.yml
  k8s.sh
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:sparkles: OpenKylin 2.0：使用默认的 containerd
  .gitlab/ci/openkylin-2.0.yml
  k8s.sh
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

Revert ":sparkles: OpenKylin 2.0：使用默认的 containerd"
  .gitlab/ci/openkylin-2.0.yml
  k8s.sh
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:sparkles: OpenKylin 2.0：修正生成 /etc/containerd/config.toml
  k8s.sh
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

Revert ":sparkles: OpenKylin 2.0：修正生成 /etc/containerd/config.toml"
  k8s.sh
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:sparkles: OpenKylin 2.0：删除 /etc/containerd/config.toml 错误配置
  k8s.sh
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install
