Repository titxue/k8s.sh: changes, and which GitLab CI jobs are due for each by the changed paths.
All: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

anolis-7.9:env:
  stage: env
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/debian:curl-jq
  variables:
    QEMU_ID: $ANOLISOS_7_9_QEMU_ID
    SNAPSHOT: $ANOLISOS_7_9_SNAPSHOT
  before_script:
  - echo $PVE_ADDRESS
  - echo $ANOLISOS_7_9_QEMU_ID
  - echo $QEMU_ID
  - echo $ANOLISOS_7_9_SNAPSHOT
  - echo $SNAPSHOT
  script:
  ...

anolis-7.9:install:
  stage: install
  needs:
  - anolis-7.9:env
  hooks:
    pre_get_sources_script:
    - echo $ANOLIS_URL
    - cat /etc/yum.repos.d/AnolisOS-os.repo
    - sed -i "s#http://mirrors.openanolis.cn/anolis#$ANOLIS_URL#" /etc/yum.repos.d/AnolisOS-os.repo
    - cat /etc/yum.repos.d/AnolisOS-os.repo
  ...

anolisos-7.9:env:custom-kubernetes-images:
  stage: env
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/debian:curl-jq
  variables:
    QEMU_ID: $ANOLISOS_7_9_QEMU_ID
    SNAPSHOT: $ANOLISOS_7_9_SNAPSHOT
  before_script:
  - echo $PVE_ADDRESS
  - echo $ANOLISOS_7_9_QEMU_ID
  - echo $QEMU_ID
  - echo $ANOLISOS_7_9_SNAPSHOT
  - echo $SNAPSHOT
  script:
  ...

anolisos-7.9:install:custom-kubernetes-images:
  stage: install
  needs:
  - anolisos-7.9:env:custom-kubernetes-images
  variables:
    KUBERNETES_VERSION: v1.30.6
    KUBERNETES_IMAGES: xuxiaoweicomcn
  hooks:
    pre_get_sources_script:
    - echo $ANOLIS_URL
    - cat /etc/yum.repos.d/AnolisOS-os.repo
  ...

anolisos-7.9:env:
  stage: env
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/debian:curl-jq
  variables:
    QEMU_ID: $ANOLISOS_7_9_QEMU_ID
    SNAPSHOT: $ANOLISOS_7_9_SNAPSHOT
  before_script:
  - echo $PVE_ADDRESS
  - echo $ANOLISOS_7_9_QEMU_ID
  - echo $QEMU_ID
  - echo $ANOLISOS_7_9_SNAPSHOT
  - echo $SNAPSHOT
  script:
  ...

anolisos-7.9:install:
  stage: install
  needs:
  - anolisos-7.9:env
  hooks:
    pre_get_sources_script:
    - yum install -y git
    - git config --global http.sslVerify false
  before_script:
  - cat /etc/os-release
  - ip addr | grep 'inet '
  script:
  - chmod +x tmp.sh
  - ./tmp.sh swap-off
  - free -h
  ...

centos-8.5:env:
  stage: env
  image: registry.cn-qingdao.aliyuncs.com/xuxiaoweicomcn/debian:curl-jq
  variables:
    QEMU_ID: $CENTOS_8_5_QEMU_ID
    SNAPSHOT: $CENTOS_8_5_SNAPSHOT
  before_script:
  - echo $PVE_ADDRESS
  - echo $CENTOS_8_5_QEMU_ID
  - echo $QEMU_ID
  - echo $CENTOS_8_5_SNAPSHOT
  - echo $SNAPSHOT
  script:
  ...

centos-8.5:install:
  stage: install
  needs:
  - centos-8.5:env
  hooks:
    pre_get_sources_script:
    - echo $CENTOS_VAULT_URL
    - cat /etc/yum.repos.d/CentOS-Linux-AppStream.repo
    - sed -i "s#mirrorlist#\#mirrorlist#" /etc/yum.repos.d/CentOS-Linux-AppStream.repo
    - cat /etc/yum.repos.d/CentOS-Linux-AppStream.repo
  ...

debian-11.7.0:install:
  stage: install
  needs:
  - debian-11.7.0:env
  hooks:
    pre_get_sources_script:
    - echo $DEBIAN_URL
    - cat /etc/apt/sources.list
    - echo '' > /etc/apt/sources.list
    - echo 'deb http://172.25.25.14:48081/repository/debian/ bullseye main non-free contrib' >> /etc/apt/sources.list
  ...

:construction_worker: shutdown
  .gitlab-ci.yml
  .gitlab/ci/almalinux-8.10.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: shutdown
  .gitlab/ci/almalinux-8.10.yml
  .gitlab/ci/almalinux-9.4-kubernetes-v1.24.yml
  .gitlab/ci/almalinux-9.4.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: shutdown
  .gitlab/ci/anolis-7.7-kubernetes-v1.24.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.25.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.26.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.27.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.28.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.29.yml
  .gitlab/ci/anolis-7.7-kubernetes-v1.30.yml
  .gitlab/ci/anolis-7.7.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: shutdown
  .gitlab/ci/anolis-7.9-custom-docker-repo-type-private.yml
  .gitlab/ci/anolis-7.9-custom-docker-repo-type.yml
  .gitlab/ci/anolis-7.9-custom-k8s-images.yml
  .gitlab/ci/anolis-7.9-custom-k8s-repo-type-private.yml
  .gitlab/ci/anolis-7.9-custom-k8s-repo-type.yml
  .gitlab/ci/anolis-7.9-custom-k8s-version.yml
  .gitlab/ci/anolis-7.9-custom-pause-image.yml
  .gitlab/ci/anolis-7.9-kubernetes-v1.24.yml
  .gitlab/ci/anolis-7.9.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: shutdown
  .gitlab/ci/anolis-8.2.yml
  .gitlab/ci/anolis-8.4.yml
  .gitlab/ci/anolis-8.6.yml
  .gitlab/ci/anolis-8.8.yml
  .gitlab/ci/anolis-8.9.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: shutdown
  .gitlab/ci/anolis-23.0.yml
  .gitlab/ci/anolis-23.1.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: shutdown
  .gitlab/ci/centos-7.9.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: shutdown
  .gitlab/ci/centos-8.1.yml
  .gitlab/ci/centos-8.2.yml
  .gitlab/ci/centos-8.3.yml
  .gitlab/ci/centos-8.4.yml
  .gitlab/ci/centos-8.5.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, centos-8.5:env, centos-8.5:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: shutdown
  .gitlab/ci/centos-9-20241028.0-kubernetes-v1.24.yml
  .gitlab/ci/centos-9-20241028.0.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: shutdown
  .gitlab/ci/debian-10.10.0-kubernetes-v1.24.yml
  .gitlab/ci/debian-10.10.0.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: shutdown
  .gitlab/ci/debian-11.7.0.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: shutdown
  .gitlab/ci/debian-12.4.0.yml
  .gitlab/ci/debian-12.7.0.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: shutdown
  .gitlab/ci/openeuler-20.03.yml
  .gitlab/ci/openeuler-22.03.yml
  .gitlab/ci/openeuler-24.03.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: shutdown
  .gitlab/ci/openkylin-1.0.1.yml
  .gitlab/ci/openkylin-1.0.2.yml
  .gitlab/ci/openkylin-1.0.yml
  .gitlab/ci/openkylin-2.0.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: shutdown
  .gitlab/ci/ubuntu-18.04.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: shutdown
  .gitlab/ci/ubuntu-20.04.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-20.04:env, ubuntu-20.04:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: shutdown
  .gitlab/ci/ubuntu-22.04-custom-docker-repo-type-private.yml
  .gitlab/ci/ubuntu-22.04-custom-k8s-type-private.yml
  .gitlab/ci/ubuntu-22.04-custom-k8s-version-suffix.yml
  .gitlab/ci/ubuntu-22.04-custom-k8s-version.yml
  .gitlab/ci/ubuntu-22.04-custom-pause-image.yml
  .gitlab/ci/ubuntu-22.04.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: shutdown
  .gitlab/ci/ubuntu-24.04-kubernetes-v1.24.yml
  .gitlab/ci/ubuntu-24.04.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: stop
  .gitlab-ci.yml
  .gitlab/ci/openkylin-1.0.1.yml
  .gitlab/ci/openkylin-1.0.2.yml
  .gitlab/ci/openkylin-1.0.yml
  .gitlab/ci/openkylin-2.0.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:memo: 快速安装
  README.md
  getting-started.md
  package.json
Due: none

:construction_worker: 发布
  .gitlab-ci.yml
  .gitlab/ci/pages.yml
  Dockerfile
  docker-compose.yml
  docker/nginx.conf
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, debian-11.7.0:env, debian-11.7.0:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env:custom-pause-image, ubuntu-22.04:install:custom-pause-image, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install, ubuntu-24.04:env:kubernetes:1.24, ubuntu-24.04:install:kubernetes:1.24

:construction_worker: 发布
  .gitlab/ci/pages.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: 发布: 修正产物文件夹
  Dockerfile
Due: none

:construction_worker: 发布: 修正 rules changes paths
  .gitlab/ci/pages.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: 发布: docker 使用不带项目名的产物
  .gitlab/ci/pages.yml
  Dockerfile
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:memo: 历史版本
  history.md
Due: none

:memo: 历史版本
  .vitepress/config.mjs
Due: none

:wrench: 同步 json 数据
  .vitepress/components/json/branch.json
  .vitepress/components/json/calico-cni-mirror.json
  .vitepress/components/json/calico-kube-controllers-mirror.json
  .vitepress/components/json/calico-node-mirror.json
  .vitepress/components/json/calico-version.json
  .vitepress/components/json/default.json
  .vitepress/components/json/docker-repo-type.json
  .vitepress/components/json/helm-mirror.json
  .vitepress/components/json/helm-version.json
  .vitepress/components/json/ingress-nginx-controller.json
  .vitepress/components/json/ingress-nginx-kube-webhook-certgen.json
  .vitepress/components/json/ingress-nginx-version.json
  .vitepress/components/json/kube-prometheus-version.json
  .vitepress/components/json/kubernetes-dashboard-helm-version.json
  .vitepress/components/json/kubernetes-dashboard-version.json
  .vitepress/components/json/kubernetes-version.json
  .vitepress/components/json/kubernetesui-dashboard-mirror.json
  .vitepress/components/json/kubernetesui-metrics-scraper-mirror.json
  .vitepress/components/json/metrics-server-version.json
  .vitepress/components/json/project-url.json
  .vitepress/components/json/supported-kubernetes-version.json
Due: none

:construction_worker: 修正 rules changes paths
  .gitlab/ci/pages.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:wrench: 修正分支
  .vitepress/components/json/branch.json
  .vitepress/components/json/default.json
Due: none

:construction_worker: GitHub 流水线
  .github/dependabot.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/node.js.yml
Due: none

:construction_worker: GitHub 流水线：修正分支
  .github/workflows/docs-deploy.yml
Due: none

:construction_worker: GitHub 流水线：修正分支
  .github/workflows/docs-deploy.yml
  .github/workflows/node.js.yml
Due: none

:construction_worker: https://framagit.org 专用流水线
  .gitlab/ci/pages-framagit.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: node 镜像使用环境变量作为前缀
  .gitlab/ci/pages-framagit.yml
  .gitlab/ci/pages.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: node 镜像使用环境变量作为前缀
  .gitlab/ci/pages.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

:construction_worker: 修正文件名
  .gitlab/ci/pages.yml
Due: anolis-7.9:env, anolis-7.9:install, anolisos-7.9:env:custom-kubernetes-images, anolisos-7.9:install:custom-kubernetes-images, anolisos-7.9:env, anolisos-7.9:install, ubuntu-22.04:env:custom-kubernetes-type-private, ubuntu-22.04:install:custom-kubernetes-type-private, ubuntu-22.04:env, ubuntu-22.04:install, ubuntu-22.10:env, ubuntu-22.10:install

Path conditions:
  anolis-7.9:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolis-7.9:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:env:custom-kubernetes-images: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:install:custom-kubernetes-images: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  anolisos-7.9:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  centos-8.5:env: any of: .gitlab/ci/centos-8.5.yml, k8s.sh
  centos-8.5:install: any of: .gitlab/ci/centos-8.5.yml, k8s.sh
  debian-11.7.0:env: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  debian-11.7.0:install: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  ubuntu-20.04:env: any of: .gitlab/ci/ubuntu-20.04.yml, k8s.sh
  ubuntu-20.04:install: any of: .gitlab/ci/ubuntu-20.04.yml, k8s.sh
  ubuntu-22.04:env:custom-kubernetes-type-private: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.04:install:custom-kubernetes-type-private: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.04:env:custom-pause-image: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  ubuntu-22.04:install:custom-pause-image: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  ubuntu-22.04:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.04:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.10:env: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-22.10:install: any of: .gitlab/ci/*.yml, .gitlab-ci.yml, k8s.sh, tmp.sh
  ubuntu-24.04:env:kubernetes:1.24: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
  ubuntu-24.04:install:kubernetes:1.24: any of: .gitlab/ci/anolis-*.yml, .gitlab/ci/centos-*.yml, .gitlab/ci/debian-*.yml, .gitlab/ci/ubuntu-*.yml, .gitlab-ci.yml, k8s.sh
